
{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Login</h1> <!--Setting heading for login page-->
</div>


<div class="card-body">
    <form method="POST"> 
    {% csrf_token %}
    {{form.as_p}}
    <input class="button" type="submit" value= "login" id="submit-button"> <!--Setting the submit button for the form-->
</form>
<p>Dont have an account? <a href="{% url 'register' %}" id="link-style">Register</a></p> <!--Setting the link to register page-->
</div>
<script src="/static/js/app.js"></script> <!--Linking to js file-->

{% endblock content %}

